/* Figma Analysys */

/*                             Mobile                  Desktop

primary Heading             28px/32px/700             44px/48px/700

secondary Heading           12px/15px/700             13px/16px/700

main text                   15px/25px/400             16px/26px/400

menu text                   18px/26px/700             15px/26px/400

price                       28px/35px/700             28px/35px/700

old price                   16px/26px/700             16px/26px/700

discount                    16px/20px/700             16px/20px/700

Add to cart                 16px/20px/700             16px/20px/700 */

/* 
### Primary Colors

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral Colors

- Very vark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

## Typography: "Kumbh Sans" 400/700
 */


 /* DEFINITION OF ROOT VARIABLES */

:root{

    --ff-main:    'Kumbh Sans', sans-serif;

    --fs-100: 0.75rem;      /* 12px */
    --fs-200: 0.8125rem;    /* 13px */
    --fs-300: 0.9375rem;    /* 15px */
    --fs-400: 1rem;
    --fs-500: 1.125rem;     /* 18px */
    --fs-700: 1.75rem;      /* 28px */
    --fs-900: 2.75rem;      /* 48px */
    
    /* font-size allignment for mobile  */
    --fs-primary-heading:   var(--fs-700);
    --fs-secondary-heading: var(--fs-100);
    --fs-main-text:         var(--fs-300);
    --fs-menu-text:         var(--fs-500);
    --fs-price:             var(--fs-700);
    --fs-old-price:         var(--fs-400);
    --fs-discount:          var(--fs-400);
    --fs-add-to-cart:       var(--fs-400);    

    /* all line-spacing */
    --ls-100: 0.9375rem;    /* 15px */
    --ls-200: 1rem;
    --ls-300: 1.25rem;      /* 20px */
    --ls-500: 1.625rem;     /* 26px */
    --ls-600: 2rem;         /* 35px */
    --ls-700: 2.25rem;      /* 36px */
    --ls-900: 3rem;         /* 48px */

    /* line-size allignment for mobile */
    --ls-primary-heading:   var(--ls-700);
    --ls-secondary-heading: var(--ls-100);
    --ls-main-text:         var(--ls-500);
    --ls-menu-text:         var(--ls-500);
    --ls-price:             var(--ls-600);
    --ls-old-price:         var(--ls-500);
    --ls-discount:          var(--ls-300);
    --ls-add-to-cart:       var(--ls-300);  

    --f-color-main-text:        hsl(219, 9%, 45%);
    --f-color-primary-heading:  hsla(220, 14%, 13%, 1);
    --f-color-secondary-heading:hsl(26, 100%, 55%);
    --f-color-old-price:        hsla(220, 14%, 75%, 1);

    --primary-orange:           hsl(26, 100%, 55%);


}

@media screen and (min-width: 940px) {

    :root {
        /* font-size-allignment for desktop */
        --fs-primary-heading:   var(--fs-900);
        --fs-secondary-heading: var(--fs-200);
        --fs-main-text:         var(--fs-400);
        --fs-menu-text:         var(--fs-300);   
        
        /* line-size-allignment for desktop  */
        --ls-primary-heading:   var(--ls-900);
    }
}


/* DEFINITION OF UTILTIY CLASSES */

.fs-primary-heading     {font-size: var(--fs-primary-heading);}
.fs-secondary-heading   {font-size: var(--fs-secondary-heading);}
.fs-main-text           {font-size: var(--fs-main-text);}
.fs-menu-text           {font-size: var(--fs-menu-text);}
.fs-price               {font-size: var(--fs-price);}
.fs-old-price           {font-size: var(--fs-old-price);}
.fs-discount            {font-size: var(--fs-discount);}
.fs-add-to-cart         {font-size: var(--fs-add-to-cart;)

.ls-primary-heading     {font-size: var(--ls-primary-heading);}
.ls-secondary-heading   {font-size: var(--ls-secondary-heading);}
.ls-main-text           {font-size: var(--ls-main-text);}
.ls-menu-text           {font-size: var(--ls-menu-text);}
.ls-price               {font-size: var(--ls-price);}
.ls-old-price           {font-size: var(--ls-old-price);}
.ls-discount            {font-size: var(--ls-discount);}
.ls-add-to-cart         {font-size: var(--ls-add-to-cart;)
 
.f-color-main-text          {color: var(--f-color-main-text);}  
.f-color-primary-heading    {color: var(--f-color-primary-headg);}
.f-color-secondary-heading  {color: var(--primary-orange);}
.f-color-old-price          {color: var(--f-color-old-price);}
/* END OF DEFINITION OF UTILITY CLASSES */


* { /* Reseting some basics */
    margin: 0;
    padding: 0;
    text-decoration: none;
    border:none; 
    list-style-type: none;
    box-sizing: border-box;
}

html {font-size: 100%;}  /* improved accessibility */

body {
    max-width: 600px;
    margin: auto;
    font-family: var(--ff-main);
    /* border: 1px solid red; */
}

/* STYLING THE HAMBURBER-MENU ICON */
.hamburber {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* END OF STYLING THE HAMBURBER-MENU ICON */


.thumbnail-gallery {
    display:flex;
}


.add-to-cart {
    color: white;
    height: 56px;
    width:100%;
    margin: 16px 24px;
    border-radius: 10px;
    background-color: var(--primary-orange);
    box-shadow: 0px 20px 50px -20px #FF7E1B;
}